.table-card-container {
  .flex-start-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .card {
      font-size: 22px;
      font-weight: 500;
      margin: 20px;

      .input-full-width {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 5px;
      }

      div {
        padding: 15px;
      }
    }
  }
  .flex-center-container {
    display: flex;
    justify-content: center;
    .subject-table-container {
      width: 80vw;
      margin: 20px;

      table {
        width: 100%;
      }
    }
  }
}
